
/* making the court*/
.court div div div{
  color: green;
  border: solid;
  height: 100px;
  text-align: center;
}

.bottom-row{
  margin-top: 10px;
}

.court .out{
  color: blue;
  border: dotted;
  height: auto;
}

li{
  color:blue;
}

.player{
  margin-top: 30px;
}
.container{
  margin-top: 50px;
}

.bottom-row{
  margin-top: 50px;
}

button{
  margin-top: 20px;
}

h1{
  color: Black;
  text-align: center;
}

select{
  margin-top: 10px;
}

/* nav bar */
#nav{

  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FA9C4C;
}

.nav-bar{
  display: inline-block;

}

.nav-bar a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

li a:hover{
    background-color: blue;
    color: white;

}



/* Creating Team Box */
#teamBox{
  margin-left: 35%;
  margin-top: 50px;
  margin-bottom: 20px;
  border: solid;
  width: 400px;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 75px;
  background-color:green;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;

}

#teamBox.active{
  opacity: 1;
  visibility: visible;
}
/* radio box*/
.radio-box{
  margin-left: 30px;
  display:inline-block;
  text-align: center;
}
.radio-box label{
  display: block;
}

h3{
  text-align: center;
}
/* Player name Box*/
.player-form{
  margin-top: 20px;
  margin-left: 15px;
}
.player-box{

}

/*form button*/
#create-finish{
  margin-left: 30%;
  margin-bottom: 10px;
}


/*add players box */
#addPlayers{
  border: solid;
  background-color: green;
  margin-left: 35%;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
  height: auto;
  z-index: 1;
  position: absolute;
  height: auto;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

#addPlayers.active{
  opacity: 1;
  visibility: visible;
}

#add-finish{
  margin-left: 30%;
  margin-bottom: 10px;
}

/* Remove Player Box */

#removePlayer{
  border: solid;
  background-color: blue;
  margin-left: 35%;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
  height: auto;
  z-index: 1;
  position: absolute;
  height: auto;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

#removePlayer.active{
  opacity: 1;
  visibility: visible;
}

#remove-finish{
  margin-left: 30%;
  margin-bottom: 10px;
}
