
h1{
  color:black;
  text-align: center;
}

/* Nav Bar */

#nav{
  text-align: center;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FA9C4C;
    .nav-bar{
      display: inline-block;
      a{
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      a:hover{
        background-color: blue;
        color: white;
      }
    }
  }
}



/* Making the court*/
.container{
  margin-top: 50px;
  .court{
    .zone{
      color: green;
      border: solid;
      height: 100px;
      text-align: center;
      .player{
        margin-top: 30px;
      }
      .bottom-row{
        margin-top: 50px;
      }
    }

    .bottom-row{
      margin-top: 10px;
    }

    .out{
      color: blue;
      border: dotted;
      height: auto;
      li{
        color:blue;
      }
      button{
        margin-top: 20px;
      }
      select{
        margin-top: 10px;
      }
    }
  }
}

/* Common Tranistion Class */

.transition-box{
  margin-left: 35%;
  margin-top: 50px;
  margin-bottom: 20px;
  border: solid;
  width: 400px;
  height: auto;
  z-index: 1;
  position: absolute;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}

.player-form{
  margin-top: 20px;
  margin-left: 15px;
}

.box-finish{
  margin-left: 30%;
  margin-bottom: 10px;
}

/* Team Box */

#teamBox{
  top: 75px;
  background-color:green;
  h3{
    text-align: center;
  }
  .radio-box{
    margin-left: 30px;
    display:inline-block;
    text-align: center;
    label{
      display: block;
    }
  }
}

/* Add Player Box */

#addPlayers{
  background-color:green;
}

/* Remove Player Box*/

#removePlayer{
  background-color:blue;
}

/* ManageRoaster */

#manageRoaster{
    z-index: 0;
  .roaster-heading{
    text-align: center;
    h4{
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .roaster-player{
    p{
      display: inline-block;
    }
  }
}

/* Change player box */

#change-box{
  border: solid;
  width: 400px;
  height: auto;
  background-color: green;
  position: fixed;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  &.active{
    opacity: 1;
    visibility: visible;
  }
  h3{
    text-align: center;
  }
}
