div(class='container-fluid')
  div(class='court')
    div(class='row')
      div(class='col-md-2')
      div(class='inside-court col-md-7')
        div(id="ten-line")
        div(class='row')
          div(class='col-xs-4 left-side')
            div(class='top-row zone')
              p(class='player front-left', id='spot3') spot3
            div(class='bottom-row zone')
              p(class='player back-left', id='spot2') spot2
          div(class='col-xs-4 middle')
            div(class='top-row zone')
              p(class='player front-middle', id='spot4') spot4
            div(class='bottom-row zone')
              p(class='player back-middle', id='spot1') spot1
          div(class='col-xs-4 right-side')
            div(class='top-row zone')
              p(class='player front-right', id='spot5') spot5
            div(class='bottom-row zone')
              p(class='player back-right', id='spot6') spot6
      div(class='col-md-3')
        div(class='out')
          ol(reversed)
            li(id="spot7") out 4
            li(id="spot8") out 3
            li(id="spot9") out 2
            li(id="spot10") out 1
          button(id='reverse', class='btn something') Reverse one
          button(id='forward', class='btn') forward one
          select(id='amount', name='amountPlayers')
            option(value='6') six
            option(value='7') Seven
            option(value='8') Eight
            option(value='9') Nine
            option(value='10') Ten
