div(class='container')
  div(id='manageRoaster')
    h3 Roaster manage
    div(class='player-form')
      div(id='manage-roaster')
        div(class='row')
          div(class='col-xs-4 in')
            h4 In
          div(class='col-xs-4 manageButtons')
            h4 Manage
            div
          div(class='col-xs-4 manage-out')
            h4  Out
        button(id='manage-finish', class='box-finish') Finish
        button(id='manage-cancel') Cancel
