div(id='removePlayer', class='transition-box')
  div(class='player-form')
    div(class='player-box')
      label(for='remove') Remove player
      input(type='text', name='remove', placeholder='Player Name')
      br
      br
    button(id='remove-finish' class='box-finish') Finish
    button(id='remove-cancel') Cancel
