div(id="nav")
  ul
    li(class='nav-bar')
      a(href='#', id='create') Create Team
    li(class='nav-bar')
      a(href='#', id='add') Add Player
    li(class='nav-bar')
      a(href='#', id='remove') Remove Player
    li(class='nav-bar')
      a(href='#', id='manage') Manage Roaster
    li(class='nav-bar')
      a(href='#', id='edit') Edit Player
    li(class='nav-bar')
      a(href='#', id='setting' ) Settings
